In [15]:
x = {1:'abcd', 2:'xyz', 3:[1, 2, 3,4], 1:123}

In [16]:
print(x)

{1: 123, 2: 'xyz', 3: [1, 2, 3, 4]}

In [7]:
x[3][2]

3

In [9]:
x.items()

dict_items([(1, 'abcd'), (2, 'xyz'), (3, [1, 2, 3, 4])])

In [10]:
x.keys()

dict_keys([1, 2, 3])

In [12]:
x.values()

dict_values(['abcd', 'xyz', [1, 2, 3, 4]])

In [14]:
x.values()

dict_values(['abcd', 'xyz', [1, 2, 3, 4]])

In [17]:
y = {1:x}

In [18]:
y[1]

{1: 123, 2: 'xyz', 3: [1, 2, 3, 4]}

In [19]:
xy = {1:{1:{1:123}}}

In [20]:
xy

{1: {1: {1: 123}}}

In [21]:
xy[1][1]

{1: 123}

In [44]:
y = range(2,10)
zy = {}
for x in y:
    z = x**2
    zy.update({x:x**2})
    zx = {x:x**2}
    #print(x,"**2 = ", z)
zy
zx

{9: 81}

In [43]:
zz = {x:x**2 for x in range(2,10)}
zz

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [32]:
d = {'x': 2}

d.update(y = 3, z = 0)
print(d)

{'x': 2, 'y': 3, 'z': 0}

In [38]:
zy = {}
type(zy)

dict

In [42]:
d = {}
for i in range(0,5):
      d.update({"result" + str(i): i})
d

{'result0': 0, 'result1': 1, 'result2': 2, 'result3': 3, 'result4': 4}

In [51]:
x = (1,2,3)
x
type(x)
x= ('a','b')
x.count('b')

1

In [54]:
def len_of_word(x):
    print(len(str(x)))
    
len_of_word('Sandeep')

7

In [55]:
len_of_word(12345)

5

In [58]:
x = 3.3%2
print(int(x))

1